/*== header styles==*/
header {
  width:100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 64px;
}

.headerlogo {
  height: 32px;
  display: inline-flex;
  align-items: center;
}

.headernav {
  height: 32px;
}

.headerlogo img,
.headerlogo p {
  display: inline;
}

.headernav ul {
}

.headernav li {
  padding-left: 16px;
  display: inline;
}

/*==main article styles ==*/

.container {
  display: inline-flex;
  align-content: center;
  width: 100%;
  padding: 32px 24px;
  height: auto;
}

.main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding-left: 24px;
}


/*-- learn article styles --*/
.learn {
  width: 60%;
}

.learn img{
  width: 100%;
  height: auto;
}
